# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=pbj_user
DB_PASSWORD=pbj_password
DB_NAME=pbj

# SIRUP
SIRUP_SATKER_ID=67081
SIRUP_BASE_URL=https://sirup.inaproc.id

# Scraping
SCRAPE_DELAY_MS=1000
MAX_PAGES=10